# {{ ansible_managed }}
server {
    listen 80 default_server;
    listen [::]:80 default_server;
    server_name _;
    server_tokens off;

    location /health {
        access_log off;
        default_type text/plain;
        return 200 'ok\n';
    }

    location / {
        root /var/www/html;
        index index.html;
    }
}
